### by default - ignore everything

## Don't ignore .gitignore
!.gitignore
!README.md



## add script directories here
## skip everything in atomistic but analysis
GLUT5_atomistic/*
!GLUT5_atomistic/analysis/

GLUT5_atomistic/analysis/*
!GLUT5_atomistic/analysis/scripts/




## skip everything in ABMD for now
ABMD/*

#skip homology modeling
homology_modeling/*


## skip everything in steered but scripts in scripts directory. For this one there was a bunch of other stuff in scripts
steered/*
!steered/analysis/

steered/analysis/*
!steered/analysis/scripts/

steered/analysis/scripts/*
!steered/analysis/scripts/*ipynb


#also include plumed info, script is helpful for future things maybe
!steered/state_by_state_running/
steered/state_by_state_running/*

!steered/state_by_state_running/targeted_MD/
steered/state_by_state_running/targeted_MD/*

!steered/state_by_state_running/targeted_MD/plumed_master/


# skip everything in string but analysis
string/*
!string/analysis/

string/analysis/*
!string/analysis/scripts/
